.blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 4rem;
  list-style: none;
  padding: 0;
}

.block {
  position: relative;
  border-radius: .9rem;
  padding: 1rem;
  width: 100%;
  background-color: #303030;
}

.block--previousHash,
.block--hash {
  color: red
}

.block--previousHash.valid,
.block--hash.valid {
  color: green
}

.block--nonce {
  text-align: right;
  
}

.block--nonce > label {
  background-color: #fafafa;
  padding: .5rem;
  border-radius: .2rem;
  color: black;
  font-weight: bold;
}

.mine-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
